MOTIVATEME_FRONTEND_PORT="4200"

MOTIVATEME_BACKEND_API_ENDPOINT="http://localhost:3000/api/"
MOTIVATEME_BACKEND_PORT="3000"

MOTIVATEME_BACKEND_DATABASE_USER="motivateme"
MOTIVATEME_BACKEND_DATABASE_NAME="motivateme"
MOTIVATEME_BACKEND_DATABASE_PASSWORD="motivatemedatabase"